# Cleaning Master List of Channels

Code to visualize and perform cleaning task on master list of channels. 

Data obtained from Ministry of Information and Broadcasting, Govt. of India.

In [41]:
import pandas as pd

### Loading Data Set

In [42]:
df = pd.read_excel('channel_list/master_channel_list.xlsx', header=1)
df.head()

,Sr. No.,Channel Name,Name of the Company,Category,Upliniking/ Downlinkin/ Uplinking Only,Language,Date of Permission
0,1.0,9X,9X MEDIA PRIVATE LIMITED,NON-NEWS,UPLINKING,HINDI,2007-09-24
1,2.0,9XM,9X MEDIA PRIVATE LIMITED,NON-NEWS,UPLINKING,/BENGALI&ALL INDIAN INDIAN SCHED,2007-09-24
2,3.0,9XO (9XM VELVET),9X MEDIA PRIVATE LIMITED,NON-NEWS,UPLINKING,HINDI,2011-09-29
3,4.0,9X JHAKAAS (9X MARATHI),9X MEDIA PRIVATE LIMITED,NON-NEWS,UPLINKING,MARATHI,2011-09-29
4,5.0,9X JALWA (PHIR SE 9X),9X MEDIA PRIVATE LIMITED,NON-NEWS,UPLINKING,HINDI/ENGLISH /BENGALI&ALL\nINDIAN INDIAN SCH...,2011-09-29

In [43]:
df.shape

(876, 7)

In [44]:
df.columns

Index(['Sr. No.', 'Channel Name', 'Name of the Company', 'Category',
       'Upliniking/\nDownlinkin/ Uplinking Only', 'Language',
       'Date of Permission'],
      dtype='object')

In [45]:
df.tail()

,Sr. No.,Channel Name,Name of the Company,Category,Upliniking/ Downlinkin/ Uplinking Only,Language,Date of Permission
871,872.0,Ezmall.com,Zee Media Corporation Ltd. (Earlier\nknown as ...,NEWS,UPLINKING,"English, Hindi and all Scheduled Indian\nLangu...",2017-10-23
872,873.0,PLANET NEWS (earlier ZEUS NEWS),ZEUS NETWORKING PRIVATE\nLIMITED,NEWS,UPLINKING,HINDI,2011-10-13
873,874.0,ZONET,ZONET CABLE TV PRIVATE LIMITED,NEWS,UPLINKING,All Indian Schedule Language,2011-09-30
874,875.0,Movies Now (Earlier known as\nZOOM DIVA),ZOOM ENTERTAINMENT NETWORK\nLIMITED,NON-NEWS,UPLINKING,HINDI/ ENGLISH,2008-10-20
875,NaN,*cancelled by the Ministry due to security den...,NaN,NaN,NaN,NaN,NaT

### Dropping data points with NaN

In [46]:
df = df.dropna()
df.shape

(874, 7)

In [47]:
# Picking out the Channel Name column and constructing the series object
df = df['Channel Name']
df.head()

0                         9X
1                        9XM
2           9XO (9XM VELVET)
3    9X JHAKAAS (9X MARATHI)
4      9X JALWA (PHIR SE 9X)
Name: Channel Name, dtype: object

### Cleaning Function and Performing Cleaning

Channel names to be composed of all lowercase characters with words separated with a '_'. Strings within p pair of parentheses to be cleaned off. 

Thus, "9X JHAKAAS (9X MARATHI)" becomes "9x_jhakkas"

In [48]:
def clean(channel_name):
    """
        Function to peform cleaning on a given channel name
        :param channel_name: string to clean
        :return: Cleaned String
    """
    return '_'.join(channel_name.split('(')[0].split()).lower()

In [49]:
# Applying clean function on all the rows of the df series
cleaned_channels = df.apply(clean)

In [50]:
cleaned_channels.head()

0            9x
1           9xm
2           9xo
3    9x_jhakaas
4      9x_jalwa
Name: Channel Name, dtype: object

In [51]:
cleaned_channels.tail()

870    zee_uttar_pradesh_uttarakhand
871                       ezmall.com
872                      planet_news
873                            zonet
874                       movies_now
Name: Channel Name, dtype: object

### Saving cleaned series object to excel file

In [52]:
cleaned_channels.to_excel('channel_list/cleaned_channel.xlsx')